@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --clr-black-800: hsl(200deg, 15%, 8%);
  --clr-black-500:  hsl(207deg, 26%, 17%);
  --clr-black-300: hsl(209deg, 23%, 22%); 
  --clr-white-800: hsl(0deg 0% 52%);
  --clr-white-500: hsl(0deg 0% 95%);
  --clr-white-300: hsl(0deg 0% 100%);

  --ff-base: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-extra-bold: 800;

  --fs-300: .875rem;
  --fs-400: 1rem;
  --fs-900: 1.5rem;
}

/* Light Theme */
.light-theme {
  --background-color: var(--clr-white-500);
  --background-color-accent: var(--clr-white-300);
  --text-color: (var--clr-white-800);
}

/* Dark Theme */
.dark-theme {
  --background-color: var(--clr-black-500);
  --background-color-accent: var(--clr-black-300);
  --text-color: var(--clr-white-300);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--ff-base);
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
}

/* ================================
header
================================ */
.header-container {
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "title toggle";
  padding: 2rem;
  background-color: var(--background-color-accent);
}

.header-container .title {
  grid-area: title;
	align-self: center;
  font-size: var(--fs-400);
  color: var(--text-color);
}

.header-container .toggle {
  grid-area: toggle;
	align-self: center;
	justify-self: end;
  background-color: transparent;
  color: var(--text-color);
  font: inherit;
  border: none;
}

.header-container .toggle:hover,
.header-container .toggle:focus-visible {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* ================================
search and filter
================================ */
.forms-container {
  position: relative;
  display: grid;
	gap: 2rem;
	grid-template-columns: 1fr;
	grid-template-areas: "search" "filter";
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

.forms-container .search {
	grid-area: search;
	align-self: center;
	display: grid;
}

.forms-container input[type="search"] {
  background-color: var(--background-color-accent);
  border: none;
  padding: 1rem 1rem 1rem 2.5rem;
  border-radius: .1rem;
  font: inherit;
  color: var(--text-color);
}

input:hover,
input:focus-visible {
  border: none;
  outline: none;
}

input::placeholder {
  color: var(--text-color);
}

.fa-search {
  position: absolute;
  left: 1rem;
  transform: translateY(130%);
  color: var(--text-color);
}

.forms-container .filter {
	grid-area: filter;
	align-self: center;
}

.forms-container .filter label {
  display: none;
}

.forms-container .filter-select {
  background-color: var(--background-color-accent);
  position: relative;
}

.forms-container .filter-select select {
  width: 100%;
  padding: 1rem;
  color: var(--text-color);
  border: none;
  appearance: none;
  background-color: var(--background-color-accent);
}

.forms-container .filter-select::after {
  content: '▿';
  color: var(--text-color);
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* ================================
card
================================ */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 2.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  margin-block-start: 2.5rem;
  margin-block-end: 0;
}

.card {
  background-color: var(--background-color-accent);
}

.card > a {
  display: grid;
}

.card-image {
  object-fit: cover;
  width: auto;
  height: 150px;
  justify-self: center;
  display: grid;
}

.card-title {
  margin-inline-start: 1rem;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

.card-content li {
  font-weight: var(--fw-extra-bold);
  padding: .275rem 1rem;
}

.card-content li span {
  font-weight: var(--fw-light);
}